Repository MFE-guys/Tither-UI: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --check, npm run prettier

:construction: style: Config card componenet style
  .eslintrc.json
  .lintstagedrc
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/Card/index.ts
  src/app/components/Header/index.ts
  src/app/pages/Dashboard/index.ts
  src/assets/theme/_classes/index.scss
  tsconfig.json
Due: npx prettier --write, npx eslint --check, npm run prettier

:sparkles: feat: Create a new way of the card types
  src/app/app.component.ts
  src/app/components/Card/index.ts
  src/app/core/components/Card/index.ts
  src/app/core/components/Header/index.ts
  src/app/core/model/enum/card.enum.ts
  src/app/pages/Dashboard/index.ts
Due: npx prettier --write, npx eslint --check

:sparkles: feat: Chart inside the card added
  package.json
  src/app/app.component.ts
  src/app/core/components/Card/index.ts
  src/app/core/components/Header/index.ts
  src/app/core/model/enum/card.enum.ts
  src/app/core/model/interface/card.interface.ts
  src/app/core/services/theme.service.ts
  src/app/pages/Dashboard/index.ts
  src/assets/theme/_classes/index.scss
  src/assets/theme/_sizes/index.scss
  src/index.html
  src/main.ts
  src/styles.scss
Due: npx prettier --write, npx eslint --check, npm run prettier

:label: feat: Add card and chart types
  src/app/core/components/Card/index.ts
  src/app/core/components/Header/index.ts
  src/app/core/model/interface/chart.interface.ts
Due: npx prettier --write, npx eslint --check

:fire: refactor: Remove test folder
  test/setup.ts
Due: npx prettier --write, npx eslint --check

:construction: style: Config card componenet style
  src/app/core/model/interface/chart.interface.ts
  src/styles.scss
Due: npx prettier --write, npx eslint --check

:tada: feat: Started modal component
  src/app/app.component.ts
  src/app/components/Header/index.ts
  src/app/components/Modal/index.ts
Due: npx prettier --write, npx eslint --check

:recycle: refactor: Change header size and remove type unnecessary
  src/app/core/components/Card/index.ts
  src/app/core/components/Header/index.ts
Due: npx prettier --write, npx eslint --check

:sparkles: feat: Add inputs required on the component
  .eslintrc.json
  src/app/core/components/Card/index.ts
  src/app/pages/Dashboard/index.ts
Due: npx prettier --write, npx eslint --check, npm run prettier

:sparkles: feat: Create speedDial component to open a modal
  src/app/components/Modal/index.ts
  src/app/core/components/Header/index.ts
  src/app/core/components/Modal/index.ts
  src/app/pages/Dashboard/index.ts
Due: npx prettier --write, npx eslint --check

:memo: docs: Change pull request model
  PULL_REQUEST_TEMPLATE.md
Due: none

:memo: docs: Update pull request template
  PULL_REQUEST_TEMPLATE.md
Due: none

:construction: chore: Create a dropdownmenu component
  src/app/core/components/Card/index.ts
  src/app/core/components/DropodownMenu/index.ts
  src/app/core/components/Header/index.ts
  src/app/pages/Dashboard/index.ts
  src/assets/theme/_sizes/index.scss
Due: npx prettier --write, npx eslint --check

:construction: chore: Restaure card style
  src/app/core/components/Card/index.ts
  src/app/core/components/Header/index.ts
  src/app/pages/Dashboard/index.ts
Due: npx prettier --write, npx eslint --check

:lipstick: style: New responsite to the card component
  PULL_REQUEST_TEMPLATE.md
  src/app/app.component.ts
  src/app/core/components/Card/index.ts
  src/app/pages/Dashboard/index.ts
  src/assets/theme/_classes/index.scss
  src/assets/theme/_sizes/index.scss
  src/styles.scss
Due: npx prettier --write, npx eslint --check

:construction: chore: Adapt dropdown menu with size screen
  src/app/app.component.ts
  src/app/core/components/Card/index.ts
  src/app/core/components/DropodownMenu/index.ts
  src/app/core/components/Header/index.ts
  src/app/pages/Dashboard/index.ts
Due: npx prettier --write, npx eslint --check

:lipstick: style: Size width drodpdown menu added using mock
  src/app/core/components/Card/index.ts
  src/app/core/components/DropodownMenu/index.ts
  src/app/core/components/Header/index.ts
  src/assets/theme/_sizes/index.scss
Due: npx prettier --write, npx eslint --check

:lipstick: style: Create new classes
  src/app/core/components/DropodownMenu/index.ts
  src/app/core/components/Header/index.ts
  src/app/core/model/interface/dropdown.interface.ts
  src/assets/theme/_classes/index.scss
  src/assets/theme/_sizes/index.scss
  src/styles.scss
  tsconfig.json
Due: npx prettier --write, npx eslint --check, npm run prettier

:iphone: style: Implement responsive styles
  src/app/app.component.ts
  src/app/core/components/DropodownMenu/index.ts
  src/app/core/components/Header/index.ts
  src/app/pages/Dashboard/index.ts
  src/assets/theme/_classes/index.scss
  src/styles.scss
Due: npx prettier --write, npx eslint --check

:truck: feat: Create route to Register decimate
  src/app/pages/Register/index.ts
  src/app/routes/index.ts
  src/app/routes/menu.routes.ts
  src/main.ts
Due: npx prettier --write, npx eslint --check

:lipstick: style: Create form style
  src/app/pages/Register/index.ts
Due: npx prettier --write, npx eslint --check

:lipstick: style: Create style to save decimate button
  src/app/pages/Register/index.ts
Due: npx prettier --write, npx eslint --check

:lipstick: style: Forms b.uilder started
  src/app/pages/Register/index.ts
Due: npx prettier --write, npx eslint --check

:construction: chore: Create dispatch to api fetch
  src/app/app.component.ts
Due: npx prettier --write, npx eslint --check

:construction: chore: Form dispatch added
  package.json
  src/app/app.component.ts
  src/app/core/model/interface/register-member.interface.ts
  src/app/core/services/register-member.service.ts
  src/app/pages/Register/index.ts
  src/app/routes/menu.routes.ts
  src/app/store/actions/index.ts
  src/app/store/actions/register-member.actions.ts
  src/app/store/reducers/register-member.reducer.ts
  src/app/store/selectors/register-member.selectors.ts
  src/main.ts
Due: npx prettier --write, npx eslint --check, npm run prettier

:sparkles: feat: Implement message component
  src/app/core/components/Message/index.ts
  src/app/core/services/register-member.service.ts
  src/app/pages/Register/index.ts
Due: npx prettier --write, npx eslint --check

:construction: chore: Config message state to message type
  package.json
  src/app/app.component.ts
  src/app/core/components/Message/index.ts
  src/app/core/model/enum/message.enum.ts
  src/app/core/model/interface/message.interface.ts
  src/app/pages/Register/index.ts
  src/app/store/actions/message.actions.ts
  src/app/store/actions/register-member.actions.ts
  src/app/store/effects/register-member.effect.ts
  src/app/store/reducers/index.ts
  src/app/store/reducers/message.reducer.ts
  src/app/store/reducers/register-member.reducer.ts
  src/app/store/reducers/theme.reducer.ts
  src/app/store/selectors/index.ts
  src/app/store/state/index.ts
  src/main.ts
Due: npx prettier --write, npx eslint --check, npm run prettier

:recycle: refactor: Code refactor
  src/app/app.component.ts
  src/app/core/services/theme.service.ts
  src/app/pages/Register/index.ts
  src/app/store/actions/index.ts
  src/app/store/actions/theme.actions.ts
  src/app/store/reducers/index.ts
  src/app/store/reducers/message.reducer.ts
  src/app/store/reducers/register-member.reducer.ts
  src/app/store/reducers/theme.reducer.ts
  src/app/store/selectors/index.ts
  src/app/store/state/index.ts
  src/main.ts
Due: npx prettier --write, npx eslint --check

:recycle: refactor: Clean code
  src/app/app.component.ts
  src/app/core/components/Modal/index.ts
  src/app/pages/Register/index.ts
Due: npx prettier --write, npx eslint --check

:wrench: chore: Create effect to added member
  src/app/store/effects/register-member.effect.ts
Due: npx prettier --write, npx eslint --check

:hammer: chore: Create effect
  src/app/app.component.ts
  src/app/core/components/Message/index.ts
  src/app/pages/Register/index.ts
  src/app/store/effects/register-member.effect.ts
Due: npx prettier --write, npx eslint --check

:recycle: refactor: Code refactor
  src/app/core/components/Card/index.ts
  src/app/core/components/DropodownMenu/index.ts
  src/app/core/components/Header/index.ts
  src/app/core/models/enum/card.enum.ts
  src/app/core/models/enum/message.enum.ts
  src/app/core/models/interface/card.interface.ts
  src/app/core/models/interface/chart.interface.ts
  src/app/core/models/interface/create-member.interface.ts
  src/app/core/models/interface/dropdown.interface.ts
  src/app/core/models/interface/message.interface.ts
  src/app/core/services/create-member.service.ts
  src/app/pages/Register/index.ts
  src/app/store/actions/create-member.actions.ts
  src/app/store/actions/message.actions.ts
  src/app/store/actions/register-member.actions.ts
  src/app/store/effects/create-member.effect.ts
  src/app/store/effects/register-member.effect.ts
  src/app/store/reducers/create-member.reducer.ts
  src/app/store/reducers/message.reducer.ts
  src/app/store/reducers/register-member.reducer.ts
  src/main.ts
Due: npx prettier --write, npx eslint --check

:sparkles: feat: Create a validation to save form
  src/app/core/components/Message/index.ts
  src/app/pages/Register/index.ts
  src/app/store/actions/create-member.actions.ts
  src/app/store/effects/create-member.effects.ts
  src/app/store/reducers/create-member.reducer.ts
  src/main.ts
Due: npx prettier --write, npx eslint --check

:bug: bug: Solve failed of the button not is loading
  src/app/pages/Register/index.ts
  src/app/store/reducers/create-member.reducer.ts
Due: npx prettier --write, npx eslint --check

:recycle: refactor: Code refactor to issues fixed
  src/app/core/models/enum/create-member-status.enum.ts
  src/app/core/models/interface/create-member.interface.ts
  src/app/pages/Register/index.ts
  src/app/store/actions/create-member.actions.ts
  src/app/store/reducers/create-member.reducer.ts
  src/app/store/reducers/theme.reducer.ts
Due: npx prettier --write, npx eslint --check

Create snyk-infrastructure.yml
  .github/workflows/snyk-infrastructure.yml
Due: none

:bug: bug: Fixed save validation
  src/app/store/effects/create-member.effects.ts
  src/app/store/reducers/create-member.reducer.ts
Due: npx prettier --write, npx eslint --check

:recycle: refactor: Code refactor using suggestions in MR
  src/app/core/models/classes/button.model.ts
  src/app/pages/Register/index.ts
  src/app/store/reducers/index.ts
  src/main.ts
  src/styles.scss
Due: npx prettier --write, npx eslint --check

:sparkles: feat: Create directive to close dropdown menu
  src/app/core/components/DropodownMenu/index.ts
  src/app/core/components/Header/index.ts
  src/app/core/directives/click-outside.directive.ts
Due: npx prettier --write, npx eslint --check

:recycle: refactor: Move button for inside the app-dropdown-menu component
  src/app/core/components/DropodownMenu/index.ts
  src/app/core/components/Header/index.ts
Due: npx prettier --write, npx eslint --check

Path conditions:
  npx prettier --write: any of: **/*.{js,ts}
  npx eslint --check: any of: **/*.{js,ts}
  npm run prettier: any of: **/*.{html,json}
